<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Data analysis from start to finish</h2>
                <hr class="light">
                <p class="text-faded">I am a business-minded Data Science professional with over 3 years of Analytics Consulting experience in the pharmaceutical industry in US. Skilled in machine learning techniques, I have a demonstrated ability to make data driven decisions and convey insights via compelling storytelling presentations.My consulting experience has helped me diversify my skill set by making me more agile and a better thought leader who enjoys bringing the best out of people.
                I love to travel, meet new people, and have new experiences. !</p>
            </div>
        </div>
    </div>
</section>
