<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://smitan94.github.io/ForeC/" class="portfolio-box">
                    <img src="img/portfolio/11.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Social Impact project
                            </div>
                            <div class="project-name">
                                A local solution to a global pandemic
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://smitan94.github.io/Black-Box-vs-White-Box/" class="portfolio-box">
                    <img src="img/portfolio/8.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Classification
                            </div>
                            <div class="project-name">
                                Black Box vs White Box models
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://smitan94.github.io/Sedans-and-Colours-South-Australia/" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Visualization
                            </div>
                            <div class="project-name">
                                Sedans and Colours - Are certain colours more prevalent in sedans?
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://smitan94.github.io/Tweet-Sentiment-Analysis-Naive-Bayes-Classifier/" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                NLP
                            </div>
                            <div class="project-name">
                                Tweet Sentiment Analysis
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://smitan94.github.io/COVID-19-Knowledge-Distiller/" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                NLP and Information retreival
                            </div>
                            <div class="project-name">
                                COVID-19 Knowledge Distiller
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://smitan94.github.io/Gesture-Recognition-Neural-Network/" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Deep Learning
                            </div>
                            <div class="project-name">
                                Gesture Recognition
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://smitan94.github.io/Telecom-Churn-Case-Study-Advanced-ML/" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Machine Learning
                            </div>
                            <div class="project-name">
                                Churn Prediction - Telecom Industry
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
</section>
